<div id="deleteUserModal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false"
     tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Delete user</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="deleteUserForm">
                <div class="modal-body d-flex flex-column align-items-center">
                    <div class="mb-3 text-center w-50">
                        <label class="form-label fw-bold">ID</label>
                        <input type="text" class="form-control" id="delete-id-disabled" disabled>
                        <input type="hidden" id="delete-id-hidden">
                    </div>
                    <div class="mb-3 text-center w-50">
                        <label class="form-label fw-bold">First name</label>
                        <input type="text" class="form-control" id="delete-username" disabled>
                    </div>
                    <div class="mb-3 text-center w-50">
                        <label class="form-label fw-bold">Last name</label>
                        <input type="text" class="form-control" id="delete-surname" disabled>
                    </div>
                    <div class="mb-3 text-center w-50">
                        <label class="form-label fw-bold">Age</label>
                        <input type="text" class="form-control" id="delete-age" disabled>
                    </div>
                    <div class="mb-3 text-center w-50">
                        <label class="form-label fw-bold">Email</label>
                        <input type="text" class="form-control" id="delete-email" disabled>
                    </div>
                    <div class="mb-3 text-center w-50">
                        <label class="form-label fw-bold">Role</label>
                        <select class="form-select" multiple size="2" disabled>
                            <option value="ROLE_ADMIN">ADMIN</option>
                            <option value="ROLE_USER">USER</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>