<div class="modal fade" th:id="'deleteUser' + ${user.id}"
     data-bs-backdrop="static" data-bs-keyboard="false"
     tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Delete user</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form th:action="@{/admin/deleteUser}" method="post">
                <div class="modal-body d-flex flex-column align-items-center">
                    <div class="mb-3 text-center w-50">
                        <label class="form-label fw-bold">ID</label>
                        <input type="text" class="form-control" th:value="${user.id}" disabled>
                        <input type="hidden" name="id" th:value="${user.id}">
                    </div>
                    <div class="mb-3 text-center w-50">
                        <label class="form-label fw-bold">First name</label>
                        <input type="text" class="form-control" th:value="${user.username}" disabled>
                    </div>
                    <div class="mb-3 text-center w-50">
                        <label class="form-label fw-bold">Last name</label>
                        <input type="text" class="form-control" th:value="${user.surname}" disabled>
                    </div>
                    <div class="mb-3 text-center w-50">
                        <label class="form-label fw-bold">Age</label>
                        <input type="text" class="form-control" th:value="${user.age}" disabled>
                    </div>
                    <div class="mb-3 text-center w-50">
                        <label class="form-label fw-bold">Email</label>
                        <input type="text" class="form-control" th:value="${user.email}" disabled>
                    </div>
                    <div class="mb-3 text-center w-50">
                        <label class="form-label fw-bold">Role</label>
                        <select class="form-select" multiple size="2" disabled>
                            <option value="ROLE_ADMIN">ADMIN</option>
                            <option value="ROLE_USER">USER</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>