<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
    <style>
        table {
            width: 40%;
            border-collapse: collapse;
            margin: 20px 0;
        }

        th, td {
            padding: 10px;
            text-align: left;
            border: 1px solid #ddd;
        }

        th {
            background-color: #f4f4f4;
        }

        tr:nth-child(even) {
            background-color: #f9f9f9;
        }
    </style>
</head>

<body>
<!--Таблица пользователей-->
<table>
    <tr>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Возраст</th>
        <th>Email</th>
        <th>Доступ</th>
        <th>Действие</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.username}"></td>
        <td th:text="${user.surname}"></td>
        <td th:text="${user.age}"></td>
        <td th:text="${user.email}"></td>
        <td>
            <span th:each="role, iterStat : ${user.roles}">
                <span th:text="${#strings.replace(role.role, 'ROLE_', '')}"></span>
                <span th:if="${!iterStat.last}">, </span>
            </span>
        </td>
        <!--Кнопки редактирования и удаления пользователя-->
        <td>
            <input type="button" value="Изменить"
                   th:onclick="|window.location.href='/admin/updateUser?id=${user.id}'|"
                   style="font-size: 12px; height: 30px; width: auto; margin-right: 10px"/>
            <form th:action="@{/admin/deleteUser}" method="post" style="display:inline">
                <input type="hidden" name="id" th:value="${user.id}"/>
                <input type="submit" value="Удалить" style="font-size: 12px; height: 30px; width: auto"/>
            </form>
        </td>
    </tr>
</table>
<!--Кнопки выхода и добавления нового пользователя-->
<div style="width: 40%; display: flex; justify-content: space-between; margin-top: 20px;">
    <form th:action="@{/logout}" method="post">
        <button type="submit" style="font-size: 12px; height: 30px; width: auto">Выйти</button>
    </form>
    <input type="button" value="Добавить пользователя"
           onclick="window.location.href='/admin/addUser'"
           style="font-size: 12px; height: 28px; width: auto"/>
</div>
</body>
</html>